<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>

    <h1><%= day %> — To-Do List</h1>

    <ul>
        <% for (i = 0; i < listItems.length; i++) { %>
            <li><%= listItems[i] %></li>
        <% } %>
    </ul>

    <form method="post" action="/">

        <input name="addItem">
        <button type="submit">Add to List</button>

    </form>
    
</body>
</html>